<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="g_Login" value="alertbudget@bni.ci"/>
		<add key="g_Pwd" value="Bactigel@40"/>
		<add key="g_smtp" value="10.108.254.6"/>
		<add key="g_port" value="25"/>
		<add key="g_ssl" value="false"/> 
		
		<add key="sms_login" value=""/>
		<add key="sms_password" value=""/>
		<add key="sms_sender_name" value="BNI"/>
		<add key="sms_api_sender" value="+2250747683181"/>
		<add key="sms_api_url" value="https://api.orange.com/"/>
		<add key="sms_api_login_url" value="/oauth/v3/token"/>
		<add key="sms_api_apps_key" value="Basic ekxCQUd1OFRoY1hDRmQ1TUI1dERoNDdFbEFHQThvT2E6UmFlZ1R2MU9oQkFKUHlXNw=="/>
		<add key="sms_api_send_url" value="/smsmessaging/v1/outbound/tel:{0}/requests"/>
		<add key="sms_template" value="{''outboundSMSMessageRequest'':{''address'':''tel:{0}'',''outboundSMSTextMessage'':{''message'':''{1}''},''senderAddress'':''tel:{2}'',''senderName'':''{3}''}}"/>
		<add key="srv_interval" value="1"/>
		<add key="Folder" value="Dossiers"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
	<!--<add name="BNI_Client_Apps_DBEntities" connectionString="metadata=res://*/Models.GSOnline.csdl|res://*/Models.GSOnline.ssdl|res://*/Models.GSOnline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BNI_Client_Apps_DB;integrated security=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--> 
	<!--<add name="BNI_Client_Apps_DBEntities" connectionString="metadata=res://*/Models.GSOnline.csdl|res://*/Models.GSOnline.ssdl|res://*/Models.GSOnline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.20.15;initial catalog=BNI_Client_Apps_DB_Test;user id=sa;password=Windev@2019;integrated security=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="BNI_Client_Apps_DBEntities" connectionString="metadata=res://*/Models.GSOnline.csdl|res://*/Models.GSOnline.ssdl|res://*/Models.GSOnline.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BNI_Client_Apps_DB;user id=BNIUser;password=P@ssw0rd;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
</configuration>
